/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#FFF5E1;
}

.container {
  /* max-width: 400px; */
  height: 100%;
  width: 30%;
  margin: 40px auto;
  padding: 20px;
  /* height: 50%;
  width: 50%; */
  border: 2px solid #000000;
  background-color:#ffe8c5d0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ticket-header {
  background-color:rgb(171, 0, 0);
  color: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.ticket-header img {
  width: 50px;
  height: 50px;
  margin: 10px;
  /* border-radius: 10%; */
  /* border: 1px solid black; */
}

.ticket-header h1 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.ticket-header span {
  color: yellow;
}

.ticket-body {
  padding: 20px;
}

.step {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.555);
}

.step h2 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: rgb(171, 0, 0);;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #23527c;
}

.btn-secondary {
  background-color:rgb(171, 0, 0);;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: royalblue;
}

.ticket-footer {
  background-color:rgb(171, 0, 0);
  /* color: #fff; */
  color: whitesmoke;
  
  
  padding: 10px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.ticket-footer a {
  text-decoration: none;
  /* color: palevioletred;
   */
   color: whitesmoke;
}
